
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;   
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:Poppins ,sans-serif;
    margin: 40px;
    font-size: 1rem;
}
.container{
    width: 100%;
    min-height: 100%;
}
.container form{
    background: linear-gradient(to top,rgb(211, 207, 207),rgb(153, 152, 152), rgba(187, 67, 67, 0.986));
    max-width:600px;
    margin-inline: auto;
    padding: 20px;
    border-bottom: 2px solid rgb(173, 173, 173);
    border-radius: 8px;
    box-shadow: 5px 12px 25px rgba(0,0,0,0.35);
}
.container header{
    color: rgba(187, 67, 67, 0.986);
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
.primary-heading{
    font-size: 1.2rem;
    font-weight: 500;
    margin-block:8px ;
}
.personal-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    width: 100%;
}
.personal-box .input-box{
    margin-left:8px;
}

.input-box label{
    font-weight: 500;
    width: 100%;
    margin-left: 4px;
}
.input-box input{
    background-color:#e7e5e5;
    width: 100%;
    color: #333;
    margin:4px 2px;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 4px;
}
::placeholder{
    font-family:monospace ,sans-serif;
    font-size: 12px;
}
.input-box input[type="date"]:valid{
    color: #333;
}
.input-box input[type="date"]{
    color: rgb(136, 135, 135);
}

.text{
    margin-left: 8px;
}
.text label{
    margin-left: 4px;
}

.text label{
    display: block;
    margin-bottom: 4px;
}
.text-box textarea{
    width: calc(100% - 1px);
    padding: 10px;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color:#e7e5e5 ;
}
.line{
    border-bottom: 2px solid rgba(187, 67, 67, 0.986);
    margin: 1rem auto;
    width: 85%;
    border-radius: 8px;
}

.btn-box{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    border: none;
    border-radius: 8px;
    background-color: rgba(187, 67, 67, 0.986);

}

button{
    cursor: pointer;
    font-size: 1rem;
    color:whitesmoke;
    background-color: rgba(187, 67, 67, 0.986);
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 12px;
}


@media(max-width:600px){
    .personal-box{
        grid-template-columns: 1fr;
    }
    .container header{
        font-size: 1.8rem;
    }
    .primary-heading{
        font-size: 1.2rem;
        text-align: center;
    }
    button{
        font-size: 12px;
    }
    
}